body{
  background-color: rgb(241, 233, 222) !important;
}

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }


.midia-link{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.midia-link:hover{
    text-decoration: none;
    color: rgb(182, 182, 182);
    font-size: 20px;
}
.text-bella {
    font-family: 'Merienda One', 'cursive';
    font-size: 20px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    text-transform: capitalize;
    text-decoration: none;

}
.logo-nav{
    text-decoration: none;
     margin-top: 6.5px;
    }
    .centro{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

    .circle
    {
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 160px;
      border-radius: 50%;
    }
    
  .font-big{
      font-size: 20px;
  }

  .btn-cardapio{
    background-color:#3bbb4f;
    color: white;
    border: none;
    padding: 10px;
    text-decoration: none;
}

.btn-cardapio:hover{
    background-color:#247430;
    color: white;
    border: none;
    padding: 10px;
    text-decoration: none;
}

.bg-header-cardapio{
  background-color: rgb(167, 15, 15);
}

.bg-body-cardapio{
  background-color: rgb(240, 241, 223);
}